<div class="form-group">
<label for="ask1"></label>
 <textarea rows="5" class="form-control" id="ask1" placeholder="（本文は140字以内で投稿）" ></textarea>
 </div>
 <div class="text-left"><span class="text-danger">本文は２文字以上１４０字以内で入力して下さい</span>
 <div class="text-right">
<button class="btn btn-primary">投稿</button>
 </div>
 </div>

<div style="border-style: solid; border-width: 1px;">

 <div style="border-style: solid; border-width: 1px;">
  <ul class="media-list">
   <li class="media">
    <!-- pull-right にすると、画像が右端に表示される -->
    <a class="pull-left" href="#">
      <img class="media-object" src="http://www.sora-kyoto.jp/wp-content/uploads/2014/09/tenisu.jpg" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">@kashiwagi 2016-01-01 23:59 59</h4>
      kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk<br>
      返信 お気に入り

    </div>
   </li>
  </ul>
 </div>

 <div style="border-style: solid; border-width: 1px;">
  <ul class="media-list">
   <li class="media">
    <!-- pull-right にすると、画像が右端に表示される -->
    <a class="pull-left" href="#">
      <img class="media-object" src="http://www.sora-kyoto.jp/wp-content/uploads/2014/09/tenisu.jpg" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">@kashiwagi 2016-01-01 23:59 59</h4>
      kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk<br>
      返信 お気に入り

    </div>
   </li>
  </ul>
 </div>



 </div>

<ul class="pagination pagination-sm">
  <li class="disabled"><a href="#">«</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul>




