<div style="border-style: solid; border-width: 1px;">

 <div style="border-style: solid; border-width: 1px;">
  <ul class="media-list">
   <li class="media">
    <!-- pull-right にすると、画像が右端に表示される -->
    <a class="pull-left" href="#">
      <img class="media-object" src="http://www.sora-kyoto.jp/wp-content/uploads/2014/09/tenisu.jpg" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">@kashiwagi 2016-01-01 23:59 59</h4>
      kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk<br>
      返信 お気に入り

    </div>
   </li>
  </ul>
 </div>

 <div style="border-style: solid; border-width: 1px;">
  <ul class="media-list">
   <li class="media">
    <!-- pull-right にすると、画像が右端に表示される -->
    <a class="pull-left" href="#">
      <img class="media-object" src="http://www.sora-kyoto.jp/wp-content/uploads/2014/09/tenisu.jpg" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">@kashiwagi 2016-01-01 23:59 59</h4>
      kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk<br>
      返信 お気に入り
